html, body {
  height: 100%;
}
h2{
  margin: 0;
}
#app {
  height: 100%;
  background: url('../public/news.jpg') repeat scroll;
  overflow-y: auto;
}
.App {
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin: 0 auto;
  padding: 0 0 10px;
}
.App h2 {
  font-family: cursive;
  padding: 20px 0;
  text-align: center;
  color: #5cc7b2;
}
.imageHolder, .descHolder{
  float: left;
}
.clearfix {
  clear: both;
}
.App .newsTile {
    width: 93%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0  auto 20px;
}
.App .newsTile .imageHolder {
    width: 40%;
}
.App .newsTile .imageHolder img {
    width: 95%;
}
.App .newsTile .descHolder {
    width: 60%;
}